<ng-container *ngIf="loaded">
  <div class="d-flex justify-content-center my-5">
    <mat-card class="mat-elevation-z8">
      <mat-toolbar color="primary" class="d-flex justify-content-between">
        <span>Cursos disponíveis</span>
        <button
          mat-mini-fab
          color="primary"
          type="button"
          matTooltip="Adicionar curso"
          (click)="onAdd()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      <app-course-list
        [courses]="courses"
        [loaded]="loaded"
        (edit)="editCourse($event)"
      ></app-course-list>
    </mat-card>
  </div>
</ng-container>
