@import "../assets/scss/variables.scss";

.header-container {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  height: 140px;
  background-color: #e91e63;
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img {
  height: 160px;
  width: 160px;
  position: fixed;
  top: -11px;
  left: 19px;
  z-index: 2;
}

@media screen and (max-width: 540px) {
  span {
    margin-right: 15px;
  }
}
