<mat-table mat-table [dataSource]="courses" *ngIf="courses">
  <ng-container matColumnDef="id" class="id-column">
    <mat-header-cell *matHeaderCellDef class="id-column">ID</mat-header-cell>
    <mat-cell *matCellDef="let course" class="id-column">{{
      course.id
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>CURSO</mat-header-cell>
    <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>CATEGORIA</mat-header-cell>
    <mat-cell *matCellDef="let course">
      <mat-icon class="course-icon" aria-label="Categoria do Curso">{{
        course.category | category
      }}</mat-icon>
      {{ course.category }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>AÇÕES</mat-header-cell>
    <mat-cell *matCellDef="let course" class="d-flex">
      <button
        mat-icon-button
        aria-label="Editar curso"
        style="color: dodgerblue"
        (click)="onEdit(course)"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        aria-label="Remover curso"
        style="color: #cf0040"
        (click)="deleteCourse(course.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-header-row
    *matRowDef="let row; columns: displayedColumns"
  ></mat-header-row>

  <ng-container *ngIf="loaded">
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-muted" [attr.colSpan]="displayedColumns.length">
        Nenhum curso encontrado
      </td>
    </tr>
  </ng-container>
</mat-table>
